div {
  border: black solid 2px;
  margin: 5px;
}

span, div > div >div {
  background-color: pink;
}

.banana {
  width: 20%;
}

#orange {
  padding-left: 20%;
}

.banana div {
  text-align: center;
}
